body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #fbe9e7; /* pastel pembe ton */
    color: #333;
}

header {
    background-color: #b0bec5; /* kodlama grisi */
    color: white;
    text-align: center;
    padding: 1rem;
}

main {
    padding: 2rem;
}

h2 {
    color: #b71c1c;
}

a {
    color: #880e4f;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
